name: Build APK (Release)

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Cordova
        run: npm install -g cordova

      - name: Prepare Project
        run: |
          cordova create temp com.kevinpermana.absensirpl "Absensi Jurusan RPL Muhtiga"
          cp -r www temp/
          cp config.xml temp/
          cd temp
          cordova platform add android

      - name: Build APK
        run: |
          cd temp
          cordova build android --debug --packageType=apk

      - name: Locate APK
        run: |
          find temp -type f -name "*.apk"
          APK_PATH=$(find temp -type f -name "*.apk" | head -n 1)
          echo "APK_PATH=$APK_PATH" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v1.0.${{ github.run_number }}
          name: Absensi Jurusan RPL Muhtiga
          files: ${{ env.APK_PATH }}
