name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Cordova
        run: npm install -g cordova

      - name: Prepare Project
        run: |
          cordova create temp com.kevinpermana.absensirpl "Absensi Jurusan RPL Muhtiga"
          cp -r www temp/
          cp config.xml temp/
          cd temp
          cordova platform add android

      - name: Build APK
        run: |
          cd temp
          cordova build android

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Absensi-RPL-Muhtiga-APK
          path: temp/platforms/android/app/build/outputs/apk/debug/*.apk
