name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Cordova
        run: npm install -g cordova

      - name: Prepare Project
        run: |
          cordova create temp com.kevinpermana.absensirpl "Absensi Jurusan RPL Muhtiga"
          cp -r www temp/
          cp config.xml temp/
          cd temp
          cordova platform add android

      - name: Build APK
        run: |
          cd temp
          cordova build android

      - name: Copy APK to repo
        run: |
          mkdir -p apk
          APK_PATH=$(find temp -name "*.apk" | head -n 1)
          cp "$APK_PATH" apk/Absensi-RPL-Muhtiga.apk
          ls -lah apk

      - name: Commit APK to repository
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add apk/Absensi-RPL-Muhtiga.apk
          git commit -m "Update APK Absensi RPL Muhtiga" || echo "No changes to commit"
          git push
