name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Cordova
        run: npm install -g cordova

      - name: Prepare Project
        run: |
          cordova create temp com.kevinpermana.absensirpl "Absensi Jurusan RPL Muhtiga"
          cp -r www temp/
          cp config.xml temp/
          cd temp
          cordova platform add android

      - name: Build APK
        run: |
          cd temp
          cordova build android --debug --packageType=apk

      - name: Copy APK to repo
        run: |
          echo "=== SEARCH APK ==="
          find temp -type f -name "*.apk"

          APK_PATH=$(find temp -type f -name "*.apk" | head -n 1)
